@charset "utf-8";
/* CSS Document: Updated Version */
body{
	background-color:#00ccff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}

/* LINK */
a{
	
}

a:hover{
	
	
}

a:visited{
	
	
}

img a{
	text-decoration:none;
	border:none;
}


/* Wrapper and Static element */

#header, #footer, #logo_head{
	width:100%;
	position:relative;
	float:left;
	background-repeat:no-repeat;
}

#wrapper {
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width:845px;
	min-width:845px;
	max-width:845px;
}

#header {
	height:28px;
	background-image:url(../pub_img/w_header.gif);
}

#logo_head {
	min-height:50px;
	margin:0px;
}

#footer {
	height:37px;
	background-image:url(../pub_img/w_footer.gif);
}

.main {
	width:845px;
	margin:0px;
	position:relative;
	float:left;
	min-height:10px;
	background-image:url(../pub_img/w_main.gif);
	background-repeat:repeat-y;
}

/* Dynamic elements inside the wrapper */
.sec_wrapper {
	margin:10px;
	width:825px;
	min-height:2px;
	position:relative;
	float:left;
}

/* Most-Recent area */
.recent_section {
	margin-left:10px;
	margin-top:10px;
	width:432px;
	min-height:5px;
	position:relative;
	float:left;
}

.recent_box{
	background-image:url(../pub_img/w_most_box.gif);
	background-repeat:no-repeat;
	width:432px;
	height:352px;
	padding:5px;
	float:left;
	position:relative;
}

/* HighLight area */
.hl_section {
	margin:10px;
	width:360px;
	height:415px;
	position:relative;
	float:left;
}
.hl_box {
	width:295px;
	height:100%;
	background-color:#FCF;
	position:relative;
	float:left;
}

/* Search area */
.search_section {
	margin:10px;
	padding-top:10px;
	padding-left:10px;
	width:795px;
	height:81px;
	background-image:url(../pub_img/w_banner_bg01.png);
	background-repeat:no-repeat;
	position:relative;
	float:left;
}

.search_box {
	margin-top:15px;
	margin-right:15px;
	width:45%;
	position:relative;
	float:right;
}

/* Upcoming area */
.upcoming_area {
	height:310px;
	width:100%;
	padding-left:10px;
	position:relative;
	float:left;
}
.upcoming_box {
	height:310px;
	width:90%;
	position:relative;
	float:left;
}

/* Detail area */
#detail_area, #generic_area {
	float:left;
	margin: 14px;
	width: 725px;
}

/* Sorting menu */
.detail_box {
	background: #CCC;
	margin-top: 20px;
	min-height: 330px;
	padding: 50px 5px 50px 5px;
}

.detail_box_sort a{
	text-decoration:none;	
	font-weight:normal;
}

.generic_box {
	background-color:#f3d6d6;
	padding:5px;
}

.detail_box, .generic_box{
	margin-top:5%;
	width:670px;
	position:relative;
	float:left;
	min-height:200px;	
}


/* Subscribe Area */
.subscribe_area {
	padding-top:20px;
	padding-left:10px;
	margin:10px 10px 10px 14px;
	width:795px;
	height:91px;
	background-image:url(../pub_img/w_banner_bg02.png);
	background-repeat:no-repeat;
	position:relative;
	float:left;
}

/* Menu */
#menu {
	padding-left:20px;
	width:95%;
	height:70px;
	position:relative;
	float:left;
}


/* Legal statement section */
#footnote {
	margin-top:25px;
	width:100%;
	min-height:30px;
	position:relative;
	float:left;
	text-align:center;
	font-size:10px;
}


/* Event Search Table Styles */
.event_table {
	width:97%;
}

.event_table td {
	height:40px;
	padding:3px;
	border-bottom:1px solid #3399FF;
}

.event_table_row1 td {
	background:white;
}

.event_table_row2 td {
	background:#DDDDFF;
}

.event_table_actions_cell a {
	color:#0066FF;
	line-height:150%;
}

#pagination {
	text-align:center;
	color:#0066FF;
	margin-top:10px;
	font-size:14px;
	line-height:160%;
}